@page "/"
@attribute [StreamRendering]
@using Pokedex.Shared
@using Pokedex.Components.Partials

<PageTitle>Pokemons</PageTitle>

<div class="container">
    <h1 class="mb-4">Pokemons</h1>
    @* <Button Color="ButtonColor.Primary" @onclick="() => modal.ShowAsync()">Full screen</Button> *@

    @if (state == LoadingContainerState.Loading)
    {
        <LoadingSpinner />
    }
    else
    {
        <div class="row">
            @foreach (var item in pokemonList.results)
            {
                <PokemonCard pokemon=item modal=modal />
            }
        </div>
    }
</div>

<Modal @ref="modal" title="Full screen" Fullscreen="ModalFullscreen.Always">
    <BodyTemplate>...</BodyTemplate>
</Modal>

@code {
    private Modal modal = default!;
}

