@page "/"
@using Pokedex.Shared
@using Pokedex.Components.Partials
@attribute [StreamRendering]

<PageTitle>Pokemons</PageTitle>

<div class="container">
    <h1 class="mb-4">Pokemons</h1>
    <Button Color="ButtonColor.Primary" @onclick="async () => await EditEmployeeAsync()">Full screen</Button>

    @if (state == LoadingContainerState.Loading)
    {
        <LoadingSpinner />
    }
    else
    {
        <div class="row">
            @* <Button Color="ButtonColor.Primary" @onclick="OnShowModalClick">Show Modal</Button> *@
            @foreach (var item in pokemonList.results)
            {
                <PokemonCard pokemon=item />
            }
        </div>
    }
</div>

<Modal @ref="modal" />

@code {
    private Modal modal = default!;

    private async Task EditEmployeeAsync()
    {
        Console.Write("function called");
        await modal.ShowAsync<Pokemons>(title: "Edit Employee");
    }

    // private async Task OnShowModalClick()
    // {
    //     await modal.ShowAsync();
    // }

    // private async Task OnHideModalClick()
    // {
    //     await modal.HideAsync();
    // }
}